body {
    background-color: white;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    background-image: url('../../images/purple.jpeg');
    background-size: cover;
    background-attachment: fixed;
}

body p {
    font-family: 'Muli', sans-serif;
}

body h1 {
    font-family: 'Roboto Condensed', sans-serif;
}

.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home-container .header {
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: center;
    position: relative;
    z-index: 50;
    margin: auto;
    margin-top: 50px;
}

.home-container .name {
    display: flex;
    font-size: 4vw;
    justify-content: center;
    align-items: center;
    border: 10px solid white;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    flex-direction: column;
    width: 250px;
}

.home-container .name h1 {
    margin: 0;
}

.home-container .name .top {
    display: flex;
    color: white;
    justify-content: space-between;
    width: 200px;
    padding: 10px;
}

.home-container .name .middle {
    color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding: 10px;
}

.home-container .name .bottom {
    color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding: 10px;
}

.home-container .header .title {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    width: 265px;
}

.home-container .brand p {
    color: black;
    width: 600px;
    text-align: center;
}

.home-container img {
    width: 100vw;
    position: absolute;
}

.home-container .scroll {
    color: #c94f7c;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 20px;
    border: 5px solid #c94f7c;
    width: 300px;
}

.home-container .scroll h3 {
    margin: 0;
    position: relative;
}

.home-container .scroll p {
    font-size: 30px;
    margin: 0;
    position: relative;
}

@media only screen and (max-width: 600px) {
    .home-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
    .home-container .header {
        display: flex;
        flex-direction: column;
        width: 80vw;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 50;
    }
    .home-container .name {
        display: flex;
        font-size: 7vw;
        justify-content: center;
        letter-spacing: -5px;
    }
    .home-container .brand p {
        color: black;
        width: 60vw;
        font-size: 18px;
        text-align: center;
    }
  }