.navigation {
    display: flex;
    justify-content: flex-end;
    z-index: 50;
}

.navigation a {
    padding: 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .navigation {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 50;
        background-color: rgba(250, 250, 250, .5);
    }
    .navigation a {
        text-align: center;
        padding: 20px;
        text-decoration: none;
        color: black;
  }
}