.projects-container {
    display: flex;
    flex-direction: column;
}

.projects-container .projects {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}

.projects-container .projects .projects-filter {
    flex-direction: column;
    border: 5px solid white;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 10px;
    color: white;
}

.projects-container .examples {
    display: flex;
    justify-content: flex-start;
    width: 75vw;
    flex-wrap: wrap;
    margin-top: 30px;
}

.projects-container .examples .project {
    margin: 0 55px 15px 55px;
}

.projects-container .examples .project a {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: lowercase;
    font-size: 20px;
}

.projects-container .examples .project img {
    width: 200px;
    border: 5px solid white;
    padding: 20px;
}

.projects-container .examples .project .title {
    display: flex;
    width: 250px;
    justify-content: flex-end;
}

.projects-container .examples .project p {
    margin-top: 0px;
}

@media only screen and (max-width: 600px) {
    .projects-container .projects {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        align-items: center;
    }
    .projects-container .examples {
        display: flex;
        justify-content: center;
        width: 75vw;
        margin-top: 30px;
    }
    
    .projects-container .examples .project {
        padding: 10px;
        margin: 0 15px 15px 15px;
    }
    }